:root {
  --main-brand-color-light: #2b7fff;
  --white-color: #ffffff;
  --main-brand-color-dark: #011c44;
  --secondary-color: #747272;
}
* {
  box-sizing: border-box;
}

body {
  color: var(--main-brand-color-dark);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin: 0;

  background-image: url(../images/background-why-us.png);
  background-position: center 1424px;
  background-repeat: no-repeat;
  background-size: contain;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1288px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}
.section-title {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 48px;
}

/* header */
.header {
  position: absolute;
  width: 100%;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
  padding: 32px;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 240px;
}
.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.link {
  color: var(--main-brand-color-dark);
  text-decoration: none;
  transition: color 0.3s;
}
.link:hover {
  color: var(--main-brand-color-light);
}

.social-media {
  display: flex;
}
.social-media-items {
  display: flex;
  gap: 32px;
}
.header-icon {
  fill: var(--secondary-color);
  transition: fill 0.2s;
}
.header-icon:hover {
  fill: var(--main-brand-color-light);
}

/* hero section */
.container-hero {
  padding-left: 106px;
}

.hero-section {
  padding: 123px 0 126px;
  background-image: url(../images/hero-pic.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
.hero-title {
  color: var(--main-brand-color-light);
  text-transform: capitalize;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 140px;
  margin-bottom: 0;
  margin-bottom: 20px;
}
.hero-text {
  font-size: 12px;
}
.button-primary {
  color: var(--white-color);
  background-color: var(--main-brand-color-light);
  border: 2px solid var(--main-brand-color-light);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 600;
  padding: 16px 32px;
  margin-bottom: 14px;
  font-family: 'Roboto', sans-serif;
  transition: color 0.2s, background-color 0.2s;
}

.button-primary:hover {
  color: var(--main-brand-color-dark);
  background-color: transparent;
}

/* description section */
.description-container {
  display: flex;

  gap: 28px;
}
.description-section {
  padding-bottom: 176px;
}
.descriprtion-box {
  width: 550px;
}
.description-title {
  margin-bottom: 40px;
}
.descr-img-container {
  flex-basis: 50%;
  position: relative;
}
.description-text {
  font-size: 22px;
}

.descriprtion-list:last-child {
  align-self: flex-end;
}
.face-before {
  display: block;
  margin-bottom: 40px;
}

.face-after {
  display: block;
  margin-left: auto;
}

.face-img {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}
.star {
  flex-shrink: 0;
  position: absolute;
}
.star1 {
  fill: var(--main-brand-color-dark);
  top: 355px;
  left: 140px;
  animation: pulsing 2s infinite;
}

.star2 {
  fill: var(--main-brand-color-light);
  top: 30px;
  right: 0;
  animation: pulsing 2s infinite;
}

.star3 {
  fill: var(--secondary-color);
  top: 260px;
  right: 40px;
  animation: pulsing 2s infinite;
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
}

/* advantages section */
.advantages-section {
  padding-bottom: 96px;
}
.advantages-title {
  text-align: center;
}
.advantages-list {
  display: flex;
  gap: 56px;
  flex-wrap: wrap;
  padding: 0 78px;
}
.advantages-item {
  flex-basis: calc((100% - 112px) / 3);
  padding: 24px 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  border-radius: 32px;
  text-align: center;
  background-color: var(--white-color);
}
.advantages-icon {
  fill: var(--main-brand-color-light);
  margin-bottom: 8px;
}

/* procedures-section */
.carousel-container {
  display: flex;
  gap: 32px;
  flex-shrink: 0;
  align-items: center;
}
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--main-brand-color-dark);
  fill: var(--main-brand-color-dark);
  padding: 0;
  flex-shrink: 0;
  cursor: pointer;
}

.carousel-button:hover {
  background-color: var(--main-brand-color-light);
  border: 1px solid var(--main-brand-color-light);
  fill: var(--white-color);
}
.procedures-section {
  padding-bottom: 96px;
}
.procedures-title {
  text-align: center;
}
.our-work-list {
  display: flex;
  gap: 16px;
  width: 100%;
  height: 100%;
}

.our-work-item {
  width: 100%;
  height: 100%;
}
.our-work-card {
  border-radius: 120px 4px;

  overflow: hidden;
  position: relative;
  transition: transform 0.2s;
  height: 456px;
  max-width: 344px;
}

.our-work-card:hover {
  transform: scale(1.05);
}

.our-work-card h3 {
  position: absolute;
  bottom: 0;
  left: 30%;
  text-align: center;
  color: var(--white-color);
}
.proc-card-1 {
  background: linear-gradient(
      180.05deg,
      rgba(1, 28, 68, 0) 48.53%,
      rgba(1, 28, 68, 0.73) 84.61%,
      #011c44 101.39%
    ),
    url('../images/face-mask.jpg');
}
.proc-card-2 {
  background: linear-gradient(
      180.05deg,
      rgba(1, 28, 68, 0) 48.53%,
      rgba(1, 28, 68, 0.73) 84.61%,
      #011c44 101.39%
    ),
    url('../images/face-injection.jpg');
}
.proc-card-3 {
  background: linear-gradient(
      180.05deg,
      rgba(1, 28, 68, 0) 48.53%,
      rgba(1, 28, 68, 0.73) 84.61%,
      #011c44 101.39%
    ),
    url('../images/face-clean.jpg');
}
/* contacts-section */
.contacts-section {
  padding-bottom: 96px;
}
.contacts-title {
  text-align: center;
}
.contacts-container {
  display: flex;
  gap: 32px;
  justify-content: center;
}
.map {
  border-radius: 32px;
}
.on-contact {
  margin-bottom: 16px;
}
.form-container {
  border-radius: 32px;
  width: 100%;
  max-width: 423px;
  height: 100%;
  /* max-height: 481px; */
  background-color: var(--main-brand-color-dark);
  background-image: url(../images/background-footer.png);
  padding: 48px 57px;
}
/* footer */
.footer {
  font-size: 16px;
  background-color: var(--main-brand-color-dark);
  background-image: url(../images/background-footer.png);
  padding: 56px 0;
  position: relative;
  transition: fill 0.2s;
}
.footer-container {
  display: flex;
  gap: 32px;
}
.footer-nav {
  flex-basis: 50%;
  display: flex;
  gap: 188px;
}
footer p {
  color: var(--secondary-color);
  font-size: 13px;
  font-weight: 400;
}
.link-footer {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  font-family: inherit;
  text-decoration: none;
  transition: color 0.2s;
}
.link-footer:hover,
.link-footer:focus,
.link-footer:active {
  /* font-weight: 700; */
  color: var(--main-brand-color-light);
}
.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 32px;
}
.footer-icon {
  stroke: var(--white-color);
  width: 42px;
  height: 42px;
}
.footer-icon:hover {
  fill: var(--main-brand-color-light);
  transition: fill 0.2s;
}

.footer-logo,
.footer-menu,
.address-list,
.address-info {
  flex-grow: 1;
}

.accent {
  color: var(--main-brand-color-light);
}
.accent-dark {
  text-transform: capitalize;
  font-weight: 600;
}
.footer::after {
  content: '';
  background-image: url(../images/makeup.png);
  width: 247px;
  height: 152px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s;
}
.modal {
  width: 100%;
  height: 100%;
  max-width: 681px;
  max-height: 723px;
  background-color: var(--main-brand-color-dark);
  background-image: url(../images/background-footer.png);
  border-radius: 48px;
  position: relative;
  padding: 42px 144px;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 35px;
}

.modal-title {
  color: var(--white-color);
  font-family: 'Play', sans-serif;
  font-size: 64px;
  line-height: 1;
  text-align: center;
  margin-bottom: 40px;
}

.modal-text {
  color: var(--white-color);
  font-size: 22px;
  line-height: 1;
  text-align: center;
  margin-bottom: 32px;
  font-weight: 600;
}

.modal-text span {
  color: var(--main-brand-color-light);
}

.form-field {
  margin-bottom: 24px;
}

.form-input {
  padding: 18px 32px;
  width: 100%;
  border-radius: 32px;
  line-height: 1;
  border: 2px solid var(--secondary-color);
  color: var(--white-color);
  background-color: transparent;
}

.form-input:focus {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--white-color);
  outline: none;
}

.form-input::placeholder {
  color: var(--white-color);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.form-button {
  margin: 0 auto 8px;
  display: block;
}

.form-button:hover {
  color: var(--white-color);
}

.form-term {
  color: var(--secondary-color);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  max-width: 220px;
  margin: 0 auto;
}

.form-term-link {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.form-container {
  border-radius: 32px;
  width: 100%;
  max-width: 423px;
  height: 100%;
  /* max-height: 481px; */
  background-color: var(--main-brand-color-dark);
  background-image: url(../images/background-footer.png);
  padding: 48px 57px;
}
