.button-primary {
    color: var(--white-color);
    background-color: var(--main-brand-color-light);
    border: 2px solid var(--main-brand-color-light);
    border-radius: 32px;
    cursor: pointer;
    font-weight: 600;
    padding: 16px 32px;
    margin-bottom: 14px;
    font-family: 'Roboto', sans-serif;
    transition: color 0.2s, background-color 0.2s;
}

.button-primary:hover {
    color: var(--main-brand-color-dark);
    background-color: transparent;
}
.form-button {
    margin: 0 auto 8px;
    display: block;
}

.form-button:hover {
    color: var(--white-color);
}