.button-primary {
    padding: 16px 32px;
        color: var(--white-color);
        font-size: 18px;
        font-weight: 600;
        background-color: var(--main-brand-color-light);
        border-radius: 32px;
        border: 2px solid var(--main-brand-color-light);
        margin-bottom: 14px;
        transition: background-color 0.2s;
    
        &:hover {
            color: var(--main-brand-color-dark);
            background-color: transparent;
        }
    
        &__description {
            font-size: 11px;
            width: 186px;
            text-align: center;
            margin-bottom: 0;
    
            @media screen and (min-width: $bp-desktop) {
                width: 238px;
                font-size: 12px;
            }
    
        }
}
.form-button {
    margin: 0 auto 8px;
    display: block;
}

.form-button:hover {
    color: var(--white-color);
}