.contacts-section {
    padding-bottom: 96px;


&__title {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 32px;
        line-height: 37.5px;
        text-align: center;
        margin: 40px 0 24px 0;

        @media screen and (min-width: $bp-desktop) {
            font-family: 'Play';
            font-weight: 700;
            font-size: 64px;
            line-height: 74.05px;
            margin: 96px 0 48px 0;
        }
    }

&__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;



    @media screen and (min-width: $bp-tablet) {
        flex-direction: row;
        gap: 32px;
        margin-bottom: 94px;
    }

}
&__form-container {
    border-radius: 32px;
    width: 100%;
    max-width: 423px;
    height: 100%;
    /* max-height: 481px; */
    background-color: var(--main-brand-color-dark);
    background-image: url(../images/background-footer.png);
    padding: 48px 57px;
}
&__map {
    border-radius: 32px;
}
}

.on-contact {
    margin-bottom: 16px;
}

