.description-section {
    padding-bottom: 176px;

&__container {
    display: flex;

    gap: 28px;
}
&__text {
    margin-bottom: 16px;
    
        @media screen and (min-width: $bp-tablet) {
            font-size: 22px;
            line-height: 1.7;
            margin-bottom: 40px;
}
}

&__box {
    display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 0px;
        max-width: 320px;
    
        @media screen and (min-width: $bp-tablet) {
            padding-bottom: 30px;
            flex-basis: 93%;
        }
    
        @media screen and (min-width: $bp-desktop) {
            padding-top: 40px;
            max-width: 700px;
            flex-basis: 55%;
        }
}

&__title {
    margin-bottom: 40px;
}
}

.descr-img-container {
    flex-basis: 50%;
    position: relative;

    
}



.descriprtion-list:last-child {
    align-self: flex-end;
}

.face-before {
    display: block;
    margin-bottom: 40px;
}

.face-after {
    display: block;
    margin-left: auto;
}

.face-img {
display: none;

    @media screen and (min-width: $bp-desktop) {
        display: flex;
            width: 340px;
                height: 340px;
                border-radius: 50%;
                overflow: hidden;
                flex-shrink: 0;
        }
}