.footer {
    font-size: 16px;
    background-color: var(--main-brand-color-dark);
    background-image: url(../images/background-footer.png);
    padding: 56px 0;
    position: relative;
    transition: fill 0.2s;


.footer-container {
    display: flex;
    gap: 32px;
}

.footer-nav {
    flex-basis: 50%;
    display: flex;
    gap: 188px;
}

footer p {
    color: var(--secondary-color);
    font-size: 13px;
    font-weight: 400;
}

.link-footer {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    text-decoration: none;
    transition: color 0.2s;
}

.link-footer:hover,
.link-footer:focus,
.link-footer:active {
    /* font-weight: 700; */
    color: var(--main-brand-color-light);
}

.footer-address {
    flex-basis: 50%;
    display: flex;
    gap: 32px;
}

.footer-icon {
    stroke: var(--white-color);
    width: 42px;
    height: 42px;
}

.footer-icon:hover {
    fill: var(--main-brand-color-light);
    transition: fill 0.2s;
}

.footer-logo,
.footer-menu,
.address-list,
.address-info {
    flex-grow: 1;
}

.accent {
    color: var(--main-brand-color-light);
}

.accent-dark {
    text-transform: capitalize;
    font-weight: 600;
}

.footer::after {
    content: '';
    background-image: url(../images/makeup.png);
    width: 247px;
    height: 152px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
}
}