.header {
position: absolute;
    width: 100%;
    top: 0;
        left: 0;
        right: 0;
   
        @media screen and (min-width: $bp-tablet) {
                top: 0;
                    left: 0;
                    width: 100%;
                    padding: 12px 0;
                    backdrop-filter: blur(5px);
                    background: rgba(255, 255, 255, 0.25);}

 &__container {
            display: flex;
            min-width: 320px;
              
                width: 100%;
                max-width: 100%;
            gap: 40px;
            padding-top: 16px;

            @media screen and (min-width: $bp-tablet) {
                    padding: 25px 0;
                }
        }
        
 &__logo {
     width: 57px;
     height: 30px;

     @media screen and (min-width: $bp-desktop) {
         width: 82px;
         height: 42px;
     }

 }
&__nav {
   display: none;

@media screen and (min-width: $bp-tablet) {
        display: flex;
            align-items: center;
            gap: 240px;
    }
   
         }
  
  &__nav {
      width: 1239px;
      height: 42px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
  }

  &__menu {
      display: none;

      @media screen and (min-width: $bp-tablet) {
        display: flex;
            gap: 56px;
            flex-grow: 1;
            justify-content: center;
      }

      @media screen and (min-width: $bp-desktop) {
          gap: 56px;
      }
  }

  &__burger {
      fill: var(--white-color);
      background-color: transparent;
      width: 24px;
      height: 24px;
      border: none;

      @media screen and (min-width: $bp-tablet) {
          display: none;
      }
  }
  &__social-media {
      display: none;

      @media screen and (min-width: $bp-tablet) {
          display: flex;
          align-items: center;
          gap: 32px;
          justify-content: space-between;
      }

      &__items {
          display: flex;
          gap: 32px;
      }


  }

  &__icon {
      fill: var(--secondary-color);
      transition: fill 0.2s;
  }

  &__icon:hover {
      fill: var(--main-brand-color-light);
  }
}



