.header {
    position: absolute;
    width: 100%;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.25);
    padding: 32px;

 &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;
        }

&__nav {
   display: flex;
   align-items: center;
   gap: 240px;
   
         }
  &__menu {
      display: flex;
      gap: 56px;
      flex-grow: 1;
      justify-content: center;
  }
}



.social-media {
    display: flex;
}

.social-media-items {
    display: flex;
    gap: 32px;
}

.header-icon {
    fill: var(--secondary-color);
    transition: fill 0.2s;
}

.header-icon:hover {
    fill: var(--main-brand-color-light);
}